<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div>
    <span id="username" th:utext="${username}"></span>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
</div>
<div>
<table>
<tr th:if="${linkOfChat.empty}">
    <td colspan="2"> Вы не подписаны не на один чат </td>
</tr>
<tr th:each="chat : ${linkOfChat}">
    <td><a th:href="@{${chat.value1}}" th:text="${chat.value2}"> Title </a></td>
</tr>
</table>
</div>
<div th:insert="~{parts/footer :: copy}"></div>
</body>
</html>