<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <title>Логин</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div id="login-container">
    <div th:if="${param.error}">
        Не верный пароль или логин.
    </div>
    <div th:if="${param.logout}">
        Вы вышли из системы.
    </div>
    <form id="login" th:action="@{/login}" method="post">
        <div th:insert="~{parts/loginAndRegistration :: entryField}"></div>
    </form>
    <a th:href="@{/registration}">Регистрация</a>
    <a th:href="@{/}">На домашнюю</a>
</div>
<div th:insert="~{parts/footer :: copy}"></div>
</body>
</html>

