<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистриция</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<div id="login-container">
    Регистрация
    <a th:if="${message}"><span th:text="${message}"> XXX </span></a>
    <form id="login" th:action="@{/registration}" method="post">
        <div th:insert="~{parts/loginAndRegistration :: entryField}"></div>
    </form>
    <div>
        <a th:href="@{/login}">Залогинитьтся</a>
        <a th:href="@{/}">На домашнюю</a>
    </div>
</div>
<div th:insert="~{parts/footer :: copy}"></div>
</body>
</html>